<h1>Articles</h1>

<h2> This is an article </h2>
<p> this is some text about it </p>

<h2> This is another article </h2>
<p> this is some text about it </p>

<% @articles.each do |article| %>
    <p><%= article.title %></p>
    <p><%= article.content %></p>
  <% end %>

  